@use '../../style-dictionary/dist/design-tokens.scss';

$typograpy-headline-pc-tab-xxl: design-tokens.$typograpy-component-tag-label-xxs;

.basic-button {
    box-shadow: design-tokens.$box-shadow-card;
    border-radius: 50px;
    padding: 10px 20px;
    color: design-tokens.$color-sumi-900;
    font-size: nth($typograpy-headline-pc-tab-xxl, 1);
    line-height: nth($typograpy-headline-pc-tab-xxl, 2);
    font-weight: nth($typograpy-headline-pc-tab-xxl, 3);
}
